<div class="d-flex vh-100 flex-column">
  <app-navbar></app-navbar>
  <div class="container w-auto m-auto">
      <h1>Esta página no está disponible</h1>
      <p>Es posible que el enlace que has introducido sea incorrecto o que se haya eliminado la página. 
      <a [routerLink]="['/timeline']" class="link-primary" *ngIf="userLoggedIn_id">Volver a Vibes</a>
      <a [routerLink]="['/sign-in']" class="link-primary" *ngIf="!userLoggedIn_id">Entrar a Vibes</a>
    </p>
  </div>
  <app-footer></app-footer>
</div>