<nav class="navbar navbar-expand-lg navbar-light bg-white p-1">
  <div class="d-flex w-50 justify-content-around align-items-center main-nav">
    <a [routerLink]="['/timeline']" class="navbar-brand logo">Vibes</a>
    <form class="position-relative">
      <div class="input-group" *ngIf="userLoggedIn._id">
        <div class="input-group search-box flex-row-reverse">
          <input class="form-control" type="search" placeholder="Buscar..."
          (keypress)="searchUser($event)">
          <div class="input-group-prepend">
            <div class="input-group-text" *ngIf="!statusSearch"><i class="fa fa-search"></i></div>
            <div class="input-group-text" *ngIf="statusSearch" (click)="closeSearch($event)"><i class="fa fa-close"></i></div>
          </div>
        </div>
        <div [hidden]="!statusSearch" class="card results shadow p-0" *ngIf="users">
          <div class="hr border-left border-top"></div>
          <div class="item d-flex justify-content-between align-items-center border-bottom p-2" *ngFor="let user of users">
            <div class="image-wrapper d-flex justify-content-center align-self-center">
              <div class="image rounded-circle mr-0">
                <a (click)="navigateProfile(user.username)">
                  <img [src]="url + 'user/' + user.username + '/' + user.avatar" alt="Foto de perfil" class="img-fluid"
                    *ngIf="user.avatar">
                </a>
              </div>
            </div>
            <div class="info">
              <div class="username">
                <a (click)="navigateProfile(user.username)">
                  <p>{{user.username}}</p>
                </a>
              </div>
              <div *ngIf="!user.isFollowed && user._id !== userLoggedIn._id">
                <button class="btn btn-dark">Follow</button>
              </div>
              <div *ngIf="user.isFollowed">
                <button class="btn btn-dark">Unfollow</button>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="!statusSearch" class="card results shadow" *ngIf="!users">
          <div class="hr border-left border-top"></div>
          <div class="text-center notResults">
            No se encontraron resultados
          </div>
        </div>
      </div>
    </form>
    <button class="btn d-lg-none btn-out" (click)="logOut()"><i class="fa fa-sign-out"></i></button>
    <button class="navbar-toggler d-none" type="button" aria-expanded="false" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="menu">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse p-2" id="menu" [collapse]="!isCollapsed">
      <ul class="navbar-nav mr-auto" *ngIf="userLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/timeline']"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/explore']"><i class="fa fa-compass"></i></a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <a class="nav-link" [routerLink]="['/', userLoggedIn.username]"><i class="fa fa-heart-o"></i></a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <a class="nav-link" [routerLink]="['/u/', userLoggedIn.username]"><i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()"><i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!userLoggedIn">
        <li class="nav-item">
          <a class="nav-link" style="font-size: 16px" [routerLink]="['/sign-in']">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ul class="navbar navbar-expand-lg bg-white mr-auto d-lg-none fixed-bottom m-0 list-unstyled" *ngIf="userLoggedIn._id">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/timeline']"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/explore']"><i class="fa fa-compass"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/upload-publication' ]"><i class="fa fa-plus-square"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', userLoggedIn.username]"><i class="fa fa-heart-o"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/u/', userLoggedIn.username]"><i class="fa fa-user"></i></a>
  </li>
</ul>