/* Logotipo */
.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.logo:hover {
    color: var(--main-color)!important;
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/* Navbar */
.navbar {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.8)
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.nav-link:hover {
    color: var(--main-color)!important;
}

.navbar-expand-lg {
    justify-content: space-around;
}

.navbar-collapse {
    flex-grow: unset;
}

/* Formulario de busqueda */
.input-group-text, .form-control {
    background-color: #FAFAFA;
}

.input-group-text {
    border-right: none;
}

.form-control {
    border-left: none;
    border-radius: 0em!important;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    margin-left: -10px;
}

.input-group-prepend {
    margin-right: 0px!important;
}

.input-group-prepend > .input-group-text{
    border-bottom-left-radius: 0em!important;
    border-top-left-radius: 0em!important;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.form-control:focus,
.form-control:focus + .input-group-prepend > .input-group-text {
    border-color: #666666;
    transition: .2s ease-in-out;
}

.form-control:not(:focus),
.form-control:not(:focus) + .input-group-prepend > .input-group-text{
    transition: .5s ease-in-out;
}

.form-control:not(:focus) + .input-group-prepend > .input-group-text {
    transition: .6s ease-in-out!important;
}

.form-control[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-image: url('../../../assets/icon-delete.svg');
    background-size: 15px;
    cursor: pointer;
}

.form-control::placeholder {
    text-align: center;
}

.nav-link {
    font-size: 25px;
    margin: 0 15px;
    padding: 0!important;
}

.btn-out {
    font-size: 22px;
}

.input-group-prepend i {
    font-size: 18px;
    font-weight: bold;
}

.results {
    width: 300px;
    position: absolute;
    top: 45px;
    left: -50px;
    padding: 1rem;
    z-index: 9999999999;
    transition: .2s ease-in-out;
}

.hr {
    position: absolute;
    top: -8px;
    left: calc(50% - 15px);
    width: 15px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
    background-color: #fff;
    z-index: 0;
}

.search-box {
    max-width: 200px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.image-wrapper {
    width: 30%;
}

.image {
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.image img{
    max-width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}

.username {
    font-size: 15px;
    font-weight: 600;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.info p {
    padding: 0;
    margin: 0;
}

.btn-dark {
    padding: .25em 1em;
    font-weight: 600;
}

.btn-dark:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.notResults {
    color: #a5a5a5;
    font-weight: 400;
    transition: .2s ease-in-out;
}

.item {
    padding: .75rem!important;
    transition: .2s ease-in-out;
}

.notifications {
    max-height: 350px;
}

.notification {
    width: 100%;
}

.notification:first-child {
    border-top: none!important;
}

.message p {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.image-wrapper {
    width: auto;
    margin-right: 15px;
}

.image-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.image-profile img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.image-profile-sm {
    width: 35px;
    height: 35px;
}

.results-notification {
    left: -114px;
    top: 45px;
}

/* Media queries */

@media (max-width: 568px) {
    .logo {
        font-size: 24px;
    }
    .navbar-expand-lg {
        justify-content: space-between;
    }
    .form-control {
        width: 150px;
    }
    nav {
        position: fixed;
        position: -webkit-sticky;
        top: 0;
        z-index: 99999999;
        width: 100vw;
    }
    .results {
        width: 100vw;
        position: fixed;
        left: 0;
        border-left: 0px!important;
        border-right: 0px!important;
        border-radius: 0px;
        top: 54px;
    }
}

@media (max-width: 1980px) {
    .main-nav {
        width: 70%!important;
    }
}

@media (max-width: 1366px) {
    .main-nav {
        width: 90%!important;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: none;
    }
    .main-nav {
        width: 100%!important;
    }
    .nav-link {
        color: black;
    }
}