<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="d-flex w-50 justify-content-around align-items-center main-nav">
    <a [routerLink]="['/timeline']" class="navbar-brand logo">Vibes</a>
    <form>
      <div class="input-group flex-row-reverse" *ngIf="userLoggedIn._id">
        <input class="form-control" type="search" placeholder="Buscar...">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </form>
    <button class="btn d-lg-none btn-out" (click)="logOut()"><i class="fa fa-sign-out"></i></button>
    <button class="navbar-toggler" type="button" aria-expanded="false" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="menu">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse p-2" id="menu" [collapse]="!isCollapsed">
      <ul class="navbar-nav mr-auto" *ngIf="userLoggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/timeline']"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/explore']"><i class="fa fa-compass"></i></a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <a class="nav-link" [routerLink]="['/', userLoggedIn.username]"><i class="fa fa-heart-o"></i></a>
        </li>
        <li class="nav-item" *ngIf="userLoggedIn">
          <a class="nav-link" [routerLink]="['/u/', userLoggedIn.username]"><i class="fa fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()"><i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!userLoggedIn">
        <li class="nav-item">
          <a class="nav-link" style="font-size: 16px" [routerLink]="['/sign-in']">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ul class="navbar navbar-expand-lg bg-white mr-auto d-lg-none fixed-bottom m-0 list-unstyled" *ngIf="userLoggedIn._id">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/timeline']"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/explore']"><i class="fa fa-compass"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/upload-publication' ]"><i class="fa fa-plus-square"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', userLoggedIn.username]"><i class="fa fa-heart-o"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/u/', userLoggedIn.username]"><i class="fa fa-user"></i></a>
  </li>
</ul>