<div class="container-fluid d-flex vh-100 flex-column">
  <div class="container m-auto w-auto">
    <div class="card">
      <div class="card-header text-center">
        <h1 class="logo">Vibes</h1>
      </div>
      <div class="card-body">
        <h6 class="text-center">Restablecer contraseña</h6>
        <form #resetPasswordForm="ngForm" (ngSubmit)='onSubmit(resetPasswordForm)'>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" #email="ngModel"
              [(ngModel)]="user.email" required>
            <small class="form-text text-muted text-danger" *ngIf="!email.valid && email.touched">El email es
              obligatorio</small>
          </div>
          <div class="form-group">
            <button class="btn btn-primary w-100" type="submit" [disabled]="!resetPasswordForm.form.valid">Restablecer
              contraseña</button>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="result == false">
            <strong>¡Error!</strong> Ha habido un error al intentar enviarte un correo de restablecimiento, intentalo de
            nuevo más tarde.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-dark alert-dismissible fade show" role="alert" *ngIf="result == true">
            <strong>¡Perfecto!</strong> Revisa tu correo electrónico para restablecer tu contraseña.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body text-center">
        <span>¿Eres nuevo en Viber? <a [routerLink]="['/sign-up']">Registrate</a></span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>