<app-navbar></app-navbar>
<div class="container-fluid p-0">
  <main class="container d-flex justify-content-center align-items-center vh-75">
      <div class="card w-75 overflow-hidden publication flex-column m-3 card-sm-publication" *ngIf="publication">
        <div class="card-header bg-white d-flex flex-fill border-bottom-0">
          <div class="image-wrapper">
            <div class="image-profile rounded-circle">
              <a [routerLink]="['/u/' + publication.user.username]"><img [src]="url + 'user/' + publication.user.username + '/' + publication.user.avatar" alt="perfil" /></a>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center" *ngIf="publication">
            <a [routerLink]="['/u/' + publication.user.username]">{{publication.user.username}}</a>
          </div>
          <div class="small bold d-flex justify-content-end align-items-center flex-fill text-right date-publication">
            {{publication.createdAt | date:'HH:mm dd/MM/yy '}}
          </div>
          <div class="small bold d-flex justify-content-end align-items-center pl-4 text-right" *ngIf="user._id == publication.user._id">
            <button class="btn btn-delete" (click)="openModalDelete(modalDelete)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
        <div class="card-body p-0 d-flex flex-wrap">
          <div class="image image-left border-top" *ngIf="publication.image">
            <img [src]="url + 'publication/' + publication.user.username + '/' + publication.image" alt="{{publication.title}}" (dblclick)="dblclick(publication._id)">
          </div>
          <div class="card-footer footer-right bg-white p-0 position-relative border-left">
            <div class="panel-action comments-box p-1 pb-3 pt-3 d-flex">
              <div class="col-md-12">
                <div class="col-md-12 pl-0">
                  <b class="bold pl-0 pr-1">{{publication.user.username}}</b> {{publication.description}}
                </div>
                <div *ngFor="let comment of comments | sort 'comment.toDate'" class="col-md-12 pl-0 overflow-auto">
                  <b class="bold pl-0 pr-1">{{comment.user.username}}</b> {{comment.text}}
                </div>
              </div>
            </div>
            <div class="box-bottom position-absolute w-100">
              <div class="panel-action pl-3 pb-0 pr-3 d-flex justify-content-left align-items-center">
                <!-- Like -->
                <div *ngIf="!publication.isLiked; else notLiked">
                  <button class="btn" (click)="saveLike(publication)"><i class="fa fa-heart-o"></i></button>
                </div>
                <!-- Not liked -->
                <ng-template #notLiked>
                  <button class="btn" (click)="deleteLike(publication)"><i class="fa fa-heart" style="color: red"></i></button>
                </ng-template>
                <button class="btn" (click)="commentBox.focus()"><i class="fa fa-comments-o"></i></button>
                <div *ngIf="publication.likes" class="pl-2">Le gusta a <b class="bold">{{publication.likes}} personas.</b></div>
              </div>
              <div class="border-top d-flex">
                <textarea name="comment" id="commentBox" #commentBox class="form-control border-0 comment flex-row comment-publication" 
                cols="5" rows="2" placeholder="Agrega un comentario..."></textarea>
                <button class="btn submit-comment submit-comment-publication" (mouseup)="saveCommentPublication(publication, commentBox.value)" (mouseup)="commentBox.value = null">Publicar</button>
              </div>
            </div>
          </div>
          <div class="card-footer w-100 bg-white border-top-0 p-0 d-flex flex-wrap flex-column d-md-none ">
            <div class="panel-action pl-3 pb-0 pr-3 d-flex justify-content-left align-items-center">
              <!-- Like -->
              <div *ngIf="!publication.isLiked; else notLiked">
                <button class="btn" (click)="saveLike(publication)"><i class="fa fa-heart-o"></i></button>
              </div>
              <!-- Not liked -->
              <ng-template #notLiked>
                <button class="btn" (click)="deleteLike(publication)"><i class="fa fa-heart" style="color: red"></i></button>
              </ng-template>

              <button class="btn" (click)="commentBox_sm.focus()"><i class="fa fa-comments-o"></i></button>
              <div *ngIf="publication.likes" class="pl-2">Le gusta a <b class="bold">{{publication.likes}} personas.</b></div>
            </div>
            <div class="panel-action pl-1 pb-3 d-flex justify-content-left align-items-center flex-wrap">
              <div class="col-md-12 d-flex flex-wrap">
                <div class="col-md-12 pl-0">
                  <b class="bold pl-0 pr-1">{{publication.user.username}}</b> {{publication.description}}
                </div>
                <div *ngFor="let comment of comments | sort 'comment.toDate'" class="col-md-12 pl-0">
                  <b class="bold pl-0 pr-1">{{comment.user.username}}</b> {{comment.text}}
                </div>
              </div>
            </div>
            <div class="border-top d-flex">
              <textarea name="comment" id="commentBox" #commentBox_sm class="form-control border-0 comment flex-row" 
              cols="5" rows="2" placeholder="Agrega un comentario..."></textarea>
              <button class="btn submit-comment" (mouseup)="saveCommentPublication(publication, commentBox.value)" (mouseup)="commentBox.value = null">Publicar</button>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
<ng-template #modalDelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar publicación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><i class="fa fa-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <h5>¿Estás seguro de eliminar la publicación?</h5>
    <p>Tu publicación será borrada y no podrás recuperarla.</p>
    <div class="alert alert-dark fade show mb-0 text-left d-flex align-items-center" role="alert"
      *ngIf="statusDelete == true">
      <p><strong>Eliminado con éxito.</strong> Te estamos redirigiendo...</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="statusDelete = null">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
      </button>
    </div>
    <div class="alert alert-danger fade show mb-0 text-left d-flex align-items-center" role="alert"
      *ngIf="statusDelete == false">
      <p><strong>¡Error!</strong> Ha ocurrido un error en el proceso, intentalo de nuevo más tarde.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="statusDelete = null">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-submit" (click)="deletePublication()">Aceptar</button>
    <button type="button" class="btn btn-danger btn-submit ml-2" aria-label="Close"
      (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>
