<app-navbar></app-navbar>
<div class="container-fluid p-0 main">
    <main class="container d-flex flex-column main-container" *ngIf="user">
        <header class="container-fluid d-flex flex-column pb-4">
            <div class="col-rs d-flex flex-row justify-content-between pt-4">
                <div class="image-wrapper d-flex justify-content-center align-self-center" *ngIf="user.avatar != ''">
                    <div class="image rounded-circle mr-0">
                        <img [src]="url + 'user/' + user.username + '/' + user.avatar" alt="Foto de perfil" class="img-fluid" *ngIf="user.avatar">
                    </div>
                </div>
                <div class="info d-flex flex-column align-self-center p-4">
                    <div class="username d-flex flex-row align-content-center flex-wrap">
                        <div class="title">
                            <h1>{{user.username}}</h1>
                        </div>
                        <div class="edit" *ngIf="userLoggedIn._id == user._id">
                            <a class="btn btn-custom" [routerLink]="['/edit', user.username]">Editar perfil</a>
                        </div>
                    </div>
                    <div class="counters d-none d-md-flex flex-md-row" *ngIf="counters">
                        <div class="publications">
                            <p>{{counters.publications}} <span>Publicaciones</span></p>
                        </div>
                        <div class="followers">
                            <p>{{counters.followers}} <span>Seguidores</span></p>
                        </div>
                        <div class="followeds">
                            <p>{{counters.followeds}} <span>Seguidos</span></p>
                        </div>
                    </div>
                    <div class="info-optional d-none d-md-block">
                        <div class="name" *ngIf="user.name">
                            <p>{{user.name}}</p>
                        </div>
                        <div class="bio" *ngIf="user.bio">
                            <p>{{user.bio}}</p>
                        </div>
                        <div class="web d-flex justify-content-start align-items-center" *ngIf="user.website">
                            <i class="fa fa-globe" style="font-size: 25px; margin-right: 0.25rem"></i><a href="http://{{user.website}}" target="_blank">{{user.website}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-optional d-md-none p-4">
                <div class="name" *ngIf="user.name">
                    <p>{{user.name}}</p>
                </div>
                <div class="bio" *ngIf="user.bio">
                    <p>{{user.bio}}</p>
                </div>
                <div class="web d-flex justify-content-start align-items-center" *ngIf="user.website">
                    <i class="fa fa-globe" style="font-size: 25px; margin-right: 0.25rem"></i><a href="http://{{user.website}}" target="_blank">{{user.website}}</a>
                </div>
            </div>
            <div class="counters counters-sm d-flex justify-content-center align-items-center d-sm-none border text-center" *ngIf="counters">
                <div class="publications">
                    <p>{{counters.publications}} <span>Publicaciones</span></p>
                </div>
                <div class="followers">
                    <p>{{counters.followers}} <span>Seguidores</span></p>
                </div>
                <div class="followeds">
                    <p>{{counters.followeds}} <span>Seguidos</span></p>
                </div>
            </div>
        </header>
        <main class="pb-5">
            <tabset [justified]="true">
                    <tab customClass="customClass">
                        <ng-template tabHeading>
                            <span class="tag-wrapp"><i class="fa fa-table icon-tag"></i><span class="d-none d-md-inline text-tag"> PUBLICACIONES</span></span>
                        </ng-template>
                        <div class="d-flex justify-content-center">
                            <div class="publications-wrapper d-flex flex-row flex-wrap" *ngIf="publications">
                                <div class="publication bg-white m-2 d-flex align-items-center p-0" *ngFor="let publication of publications | sort:'publication.createdAt'">
                                    <a [routerLink]="['/']" class="link-publication">
                                        <div class="card border-0">
                                            <img [src]="url + 'publication/' + publication.user.username + '/' + publication.image" class="img-fluid">
                                            <div class="card-img-overlay d-flex justify-content-center align-items-center invisible overlay">
                                                <p class="card-text">
                                                    <span class="text-overlay">{{publication.likes}} <i class="fa fa-heart-o"></i></span>
                                                    <span class="text-overlay"> {{publication.comments}} <i class="fa fa-comment-o"></i></span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="publications-wrapper d-flex flex-row flex-wrap" *ngIf="!publications">
                                <div style="font-size: 30px"><i class="fa fa-photo"></i></div>
                                <div class="text-center">
                                    <h3>No existen publicaciones :(</h3>
                                    <h6>Comienza a compartir fotos</h6>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab customClass="customClass2">
                        <ng-template tabHeading>
                            <span class="tag-wrapp"><i class="fa fa-tags icon-tag"></i><span class="d-none d-md-inline text-tag"> ETIQUETADAS</span></span>
                        </ng-template>
                    </tab>
            </tabset>
        </main>
    </main>
</div>