<app-navbar></app-navbar>
<div class="container-fluid p-0 main">
    <main class="container d-flex">
      <div class="d-flex flex-row flex-wrap publications-wrapper mt-4">
        <div class="card w-100 overflow-hidden publication flex-column m-3" *ngFor="let publication of publications">
          <div class="card-header bg-white d-flex flex-fill border-bottom-0">
            <div class="image-wrapper">
              <div class="image-profile rounded-circle">
                <a [routerLink]=""><img [src]="publication.user.avatar" alt="perfil" /></a>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <a [routerLink]="">{{publication.user.username}}</a>
            </div>
            <div class="small bold d-flex justify-content-end align-items-center flex-fill text-right date-publication">
              {{publication.createdAt | date:'HH:mm dd/MM/yy '}}
            </div>
          </div>
          <div class="card-body p-0">
            <div class="image" *ngIf="publication.image">
              <img [src]="publication.image" alt="{{publication.title}}">
            </div>
          </div>
          <div class="card-footer bg-white border-top-0 p-0">
            <div class="panel-action pl-3 pb-0 pr-3 d-flex justify-content-left align-items-center">
              
              <!-- Like -->
              <div *ngIf="!publication.isLiked; else notLiked">
                <button class="btn" (click)="saveLike(publication)"><i class="far fa-heart"></i></button>
              </div>
              <!-- Not liked -->
              <ng-template #notLiked>
                <button class="btn" (click)="deleteLike(publication)"><i class="fas fa-heart" style="color: red"></i></button>
              </ng-template>

              <button class="btn"><i class="far fa-comment"></i></button>
              <div *ngIf="publication.likes" class="pl-2">Le gusta a <b class="bold">{{publication.likes}} personas.</b></div>
            </div>
            <div class="panel-action pl-1 pb-3 d-flex justify-content-left align-items-center flex-wrap">
              <div class="col-md-12 d-flex flex-wrap">
                <!-- <div class="image-wrapper" style="margin-right: 5px">
                  <div class="image-profile image-profile-small rounded-circle">
                    <a [routerLink]=""><img [src]="publication.user.avatar" alt="perfil" /></a>
                  </div>
                </div> -->
                <div class="col-md-12 pl-0">
                  <b class="bold pl-0 pr-1">{{publication.user.username}}</b> {{publication.description}}
                </div>
                <div *ngFor="let comment of comments[publication._id] | slice:0:2; let i=index;" class="col-md-12 pl-0">
                  <b class="bold pl-0 pr-1">{{comment.user.username}}</b> {{comment.text}}
                  <div class="col-md-12 pl-0 pt-2 see-more" *ngIf="i == 1">
                      <b class="bold pl-0 pr-1"><a [routerLink]="">Ver más...</a></b>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-top d-flex">
              <textarea name="comment" id="commentBox" #commentBox class="form-control border-0 comment flex-row" 
              cols="5" rows="2" placeholder="Agrega un comentario..."></textarea>
              <button class="btn submit-comment" (mouseup)="saveCommentPublication(publication, commentBox.value)" (mouseup)="commentBox.value = null">Publicar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap profile-wrapper mt-4">
        <div class="card w-100 m-3 border-0">
          <div class="card-header border-0 d-flex">
            <div class="image-wrapper">
              <div class="image-profile rounded-circle" *ngIf="user">
                <a [routerLink]=""><img [src]="user.avatar" alt="perfil" /></a>
              </div>
            </div> 
            <div class="d-flex justify-content-center align-items-center flex-wrap">
              <div class="col-md-12">
                <a [routerLink]=""><b *ngIf="user" class="bold">{{user.username}}</b></a>
              </div>
              <div class="col-md-12">
                <b *ngIf="user" class="bold small">{{user.name}}</b>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <div class="card bg-white">
              <div class="card-header border-bottom-0 bg-white">
                Notificaciones
              </div>
              <div class="card-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>