.card-header {
    font-size: 16px;
    font-weight: 600;
}

.image-wrapper {
    width: fit-content;
    margin-right: 15px;
}

.image-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.image-profile img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.image-profile-sm {
    width: 35px;
    height: 35px;
}

.image-profile-small{
    width: 25px;
    height: 25px;
}

.date-publication {
    color: grey;
    opacity: 0.8;
}

.see-more {
    color: grey;
    opacity: 0.6;
}

.see-more:hover {
    opacity: 1;
    transition: 0.5s;
}

.btn:focus{
    box-shadow: none;
    outline: none;
}

.image img{
    width: 100%;
    object-fit: fill;
}

.panel-action button {
    font-size: 24px;
}

.comment {
    background-color: #FAFAFA;
    resize: none;
    width: 85%;
}

.comment:focus {
    outline: none;
    box-shadow: none;
}

.comment::placeholder{
    color: gray;
}

.bold {
    font-weight: 600;
}

.btn {
    margin: 0;
    padding: 5px;
}

.comment:focus ~ .submit-comment {
    opacity: 1;
}

.submit-comment {
    width: 15%;
    background-color: #FAFAFA;
    font-weight: 600;
    color: #3897f0;
    opacity: 0.6;
}

.publications-wrapper {
    width: 65%;
}

.profile-wrapper {
    width: 30%;
    margin-left: 5%;
}

.profile-wrapper .card, .profile-wrapper .card-header {
    background-color: #FAFAFA;
}

/** CSS publicacion */

.image-left {
    width: 65%;
}

.footer-right {
    width: 35%;
}

.box-bottom {
    bottom: 0px;
}

.vh-75 {
    padding-top: 75px;
    height: 75vh;
}

.comment-publication {
    width: 70%;
}

.submit-comment-publication {
    width: 30%;
}

.comments-box {
    height: 400px;
    overflow: auto;
}

.btn-custom {
    border-radius: 0!important;
    color: #fff!important;
    font-weight: 600;
}

.btn-custom:hover {
    background-color: var(--main-color)!important;
    transition: .2s ease-in-out;
    border-color: var(--main-color)!important;
}

.card-footer-custom {
    background-color: var(--background-color);
}

.image-upload {
    background-color: whitesmoke;
}

.logo-image {
    font-size: 56px;
    color: grey
}

.upload-file button {
    font-size: 14px;
    font-weight: 600;
}

.upload-file i {
    font-size: 26px;
    cursor: pointer;
}

.upload-file:hover, .upload-file:hover > .btn {
    color: var(--main-color);
    transition: .2s ease-in-out;
}

.upload-file {
    transition: .2s ease-in-out;
}

#category {
    border: none;
    border-radius: none;
    box-shadow: 0px 0px 3px 0px rgba(212,212,212,1);
    font-weight: 600;
}

#category option {
    font-weight: 600;
}

.btn-delete {
    padding: 0px 5px;
    font-size: 26px;
    border-radius: 50%;
}

.btn-delete:hover {
    color: var(--danger);
}

.btn-submit {
    font-weight: 600;
    padding: 4px 10px;
    opacity: 0.65;
}

.btn-submit:hover {
    opacity: 1;
}

.notifications {
    max-height: 250px;
    overflow: auto;
}

.notification {
    width: 100%;
}

.message p {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

/*** Media queries ***/

@media (max-width: 1024px) {
    .publication {
        width: 100%!important;
        margin: 20px 0px !important;
    }
    .profile {
        display: none;
    }
}

@media (max-width: 768px) {
    .profile-wrapper {
        display: none!important;
    }
    .publications-wrapper {
        width: 100%;
    }
    .comments-box {
        height: 325px;
        overflow: auto;
    }
}

@media (max-width: 568px) {
    .submit-comment {
        width: 30%;
    }
    .comment {
        width: 70%;
    }
    .image-profile {
        width: 40px;
        height: 40px;
    }
    .card-sm-publication {
        width: 100%!important;
        margin: 0px!important;
    }
    .vh-75 {
        padding: 0!important;
        height: fit-content!important;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .image-left {
        width: 100%;
        border-top: none!important;
    }

    .footer-right {
        display: none;
    }
    .main {
        margin: 3em 0;
    }
    .image-upload-p {
        min-height: 250px;
    }
}