<app-navbar></app-navbar>
<div class="container-fluid p-0 main">
    <main class="container d-flex">
      <div class="d-flex flex-row flex-wrap publications-wrapper mt-4" *ngIf="publications">
        <div class="card w-100 overflow-hidden publication flex-column m-3" *ngFor="let publication of publications | sort:'publication.createdAt'">
          <div class="card-header bg-white d-flex flex-fill border-bottom-0">
            <div class="image-wrapper">
              <div class="image-profile rounded-circle" *ngIf="publication.user">
                <a [routerLink]="['/u/' + publication.user.username]"><img [src]="url + 'user/' + publication.user.username + '/' + publication.user.avatar" alt="perfil" /></a>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <a [routerLink]="['/u/' + publication.user.username]">{{publication.user.username}}</a>
            </div>
            <div class="small bold d-flex justify-content-end align-items-center flex-fill text-right date-publication">
              {{publication.createdAt | date:'HH:mm dd/MM/yy '}}
            </div>
          </div>
          <div class="card-body p-0">
            <div class="image" *ngIf="publication.image">
              <img [src]="url + 'publication/' + publication.user.username + '/' + publication.image" alt="{{publication.title}}" (dblclick)="dblclick(publication._id)">
            </div>
          </div>
          <div class="card-footer bg-white border-top-0 p-0">
            <div class="panel-action pl-3 pb-0 pr-3 d-flex justify-content-left align-items-center">
              
              <!-- Like -->
              <div *ngIf="!publication.isLiked; else notLiked">
                <button class="btn" (click)="saveLike(publication)"><i class="fa fa-heart-o"></i></button>
              </div>
              <!-- Not liked -->
              <ng-template #notLiked>
                <button class="btn" (click)="deleteLike(publication)"><i class="fa fa-heart" style="color: red"></i></button>
              </ng-template>

              <a [routerLink]="['/p/' + publication._id]"><button class="btn"><i class="fa fa-comments-o"></i></button></a>
              <div *ngIf="publication.likes" class="pl-2">Le gusta a <b class="bold">{{publication.likes}} personas.</b></div>
            </div>
            <div class="panel-action pl-1 pb-3 d-flex justify-content-left align-items-center flex-wrap">
              <div class="col-md-12 d-flex flex-wrap">
                <div class="col-md-12 pl-0">
                  <a [routerLink]="['/u/' + publication.user.username]"><b class="bold pl-0 pr-1">{{publication.user.username}}</b></a> {{publication.description}}
                </div>
                <div *ngFor="let comment of comments[publication._id] | slice:0:2; let i=index;" class="col-md-12 pl-0">
                  <a [routerLink]="['/u/' + comment.user.username]"><b class="bold pl-0 pr-1">{{comment.user.username}}</b></a> {{comment.text}}
                  <div class="col-md-12 pl-0 pt-2 see-more" *ngIf="i == 1">
                      <b class="bold pl-0 pr-1"><a [routerLink]="['/p/' + publication._id]">Ver los {{publication.comments}} comentarios</a></b>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-top d-flex">
              <textarea name="comment" id="commentBox" #commentBox class="form-control border-0 comment flex-row" 
              cols="5" rows="2" placeholder="Agrega un comentario..."></textarea>
              <button class="btn submit-comment" (mouseup)="saveCommentPublication(publication, commentBox.value)" (mouseup)="commentBox.value = null">Publicar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap publications-wrapper mt-4 flex-column justify-content-center align-items-center" *ngIf="!publications">
        <div style="font-size: 30px"><i class="fa fa-photo"></i></div>
        <div class="text-center">
          <h3>No existen publicaciones :(</h3>
          <h6>Encuentra a tus amigos y empieza a compartir fotos.</h6>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap profile-wrapper mt-4">
        <div class="card w-100 m-3 border-0">
          <div class="card-header border-0 d-flex">
            <div class="image-wrapper">
              <div class="image-profile rounded-circle" *ngIf="user.avatar != ''">
                <a [routerLink]="['/u/' + user.username]"><img [src]="url + 'user/' + user.username + '/' + user.avatar" alt="perfil" /></a>
              </div>
            </div> 
            <div class="d-flex justify-content-center align-items-center flex-wrap">
              <div class="col-md-12">
                <a [routerLink]="['/u/' +user.username]"><b *ngIf="user" class="bold">{{user.username}}</b></a>
              </div>
              <div class="col-md-12">
                <b *ngIf="user" class="bold small">{{user.name}}</b>
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <div class="card bg-white">
              <div class="card-header border-bottom-0 bg-white">
                Notificaciones
              </div>
              <div class="card-body notifications p-0">
                <div *ngIf="notifications" class="d-flex justify-content-center align-items-center flex-column">
                  <div class="notification border-top d-flex  align-items-center flex-row p-2" *ngFor="let notification of notifications">
                    <div class="image-wrapper">
                      <div class="image-profile image-profile-sm rounded-circle">
                        <a [routerLink]="['/u/' + notification.fromUser.username]"><img [src]="url + 'user/' + notification.fromUser.username + '/' + notification.fromUser.avatar"
                            alt="perfil" /></a>
                      </div>
                    </div>
                    <div class="info d-flex justify-content-center align-items-center">
                      <div class="message d-flex">
                        <p>{{notification.message}}</p>
                      </div>
                      <div class="publication" *ngIf="notification.publication">
                        <div class="image-wrapper">
                          <div class="image-profile image-profile-sm">
                            <a [routerLink]="['/p/' + notification.publication._id]">
                              <img [src]="url + 'publication/' + notification.user.username + '/' + notification.publication.image" alt="{{notification.publication.title}}">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 card-footer-custom">
              <div class="card m-3 border-0">
                <a [routerLink]="[ '/upload-publication' ]" class="btn btn-dark btn-custom">Subir publicación</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>