<div class="container-fluid d-flex vh-100 flex-column">
  <div class="container m-auto w-auto">
    <div class="card">
      <div class="card-header text-center">
        <h1 class="logo">Vibes</h1>
      </div>
      <div class="card-body">
        <form #resetPassword="ngForm" (ngSubmit)='onSubmit(resetPassword)'>
          <div class="form-group">
            <input type="password" name="newPassword" class="form-control" placeholder="Contraseña nueva" #newPassword="ngModel"
              [(ngModel)]="user.newPassword" required>
            <small class="form-text text-muted text-danger" *ngIf="!newPassword.valid && newPassword.touched">La contraseña nueva es
              obligatoria</small>
          </div>
          <div class="form-group">
            <input type="password" name="repeatPassword" class="form-control" placeholder="Confirmar contraseña" #repeatPassword="ngModel"
              [(ngModel)]="user.repeatPassword" required>
            <small class="form-text text-muted text-danger" *ngIf="!repeatPassword.valid && repeatPassword.touched">La confirmación de contraseña es
              obligatoria</small>
            <small class="form-text text-muted text-danger" *ngIf="repeatPassword.valid && !(repeatPassword.value == newPassword.value)">Las contraseñas son
              distintas. Deben ser iguales</small>
          </div>
          <div class="form-group">
            <button class="btn btn-primary w-100" type="submit" [disabled]="!resetPassword.form.valid">Restablecer
              contraseña</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card alert alert-danger alert-dismissible fade show mt-3" role="alert" *ngIf="result == false">
      <strong>¡Error!</strong> Ha habido un error al intentar enviarte un correo de restablecimiento, intentalo de
      nuevo más tarde.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card alert alert-dark alert-dismissible fade show mt-3" role="alert" *ngIf="result == true">
      <strong>¡Perfecto!</strong> Tu contraseña se ha restablecido. <a [routerLink]="['/sign-in']">Iniciar sesión</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <app-footer></app-footer>
</div>